* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hide {
  display: none;
}

body {
  align-items: center;
  text-align: center;
}

button {
  color: black;
  background-color: lightblue;
  border-radius: 3px;
  padding: 15px;
}

button:hover {
  cursor: pointer;
  color: grey;
}

h2 {
  padding: 40px;
  font-size: xx-large;
}